{% set activePage = page.url %}
<header>
  <nav aria-label="{{ languages[page.lang].ariaPrimary }}">
    <ul>
      {% for item in navigation_top[page.lang] %}
        <li>
          <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
        </li>
      {% endfor %}
      <li class="subscribe">
        <a href="/{{ page.lang }}/subscribe.html">
          <svg class="icon-rss" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 512 512" fill="#ED812E">
            <title>RSS</title>
            <path d="M108.56,342.78a60.34,60.34,0,1,0,60.56,60.44A60.63,60.63,0,0,0,108.56,342.78Z"></path>
            <path d="M48,186.67v86.55c52,0,101.94,15.39,138.67,52.11s52,86.56,52,138.67h86.66C325.33,312.44,199.67,186.67,48,186.67Z"></path>
            <path d="M48,48v86.56c185.25,0,329.22,144.08,329.22,329.44H464C464,234.66,277.67,48,48,48Z"></path>
          </svg>
        </a>
      </li>
      <li class="country-flag">
        {% set links = page.url | locale_links %}
        {% if links | length > 0 %}
          {% for link in links %}
            {%- if page.lang == "en" -%}
              <a href="{{ link.url }}" lang="cs" hreflang="cs"><span class="bigger-flag">🇨🇿</span></a>
            {%- elif page.lang == "cs" -%}
              <a href="{{ link.url }}" lang="en" hreflang="en"><span class="bigger-flag">🇬🇧</span></a>
            {%- endif -%}
          {% endfor %}
        {% else %}
          {%- if page.lang == "en" -%}
            <a href="/cs/" lang="cs" hreflang="cs"><span class="bigger-flag">🇨🇿</span></a>
          {%- elif page.lang == "cs" -%}
            <a href="/en/" lang="en" hreflang="en"><span class="bigger-flag">🇬🇧</span></a>
          {%- endif -%}
        {% endif %}
      </li>
    </ul>
  </nav>
</header>