---
permalink: /cs/rss.xml
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}/cs/</link>
    <description>{{ site.description }}</description>
    <language>cs</language>
    <item>
      <title>Static Czech Post</title>
      <link>{{ site.url }}/cs/static-post</link>
      <description>This is a static post for testing.</description>
    </item>
  </channel>
</rss>
